Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/
Content/ParagonMinions/
Content/ParagonBoris/
*.uproject.local



# 비주얼 스튜디오 (Visual Studio)
.vs/
*.ipch
*.sln
*.slnx
*.suo
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

# 제트브레인스 라이더 (JetBrains Rider)
.idea/
*.sln.DotSettings.user


.DS_Store
Thumbs.db
*.log
*.obj
*.tmp

# Plugin generated folders
Plugins/**/Binaries/
Plugins/**/Intermediate/

# Unreal local/user files
*.uproject.local